@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add Work Sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap");

/* Allow normal scrolling */
html,
body {
  height: auto; /* IMPORTANT: don't force overflow hidden */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
